<form class="dialog" [formGroup]="form">
  <div class="close-icon">
    <img
      src="../../../../../assets/img/icon/close.svg"
      alt="close-edit-profile"
      mat-dialog-close />
  </div>
  <p class="title">Update Your Password</p>
  <p class="sub-title">We recommend you don't reuse an existing password.</p>
  <div class="form-section">
    <div class="section">
      <div class="form-group">
        <label for="new-password" class="label-title text-uppercase mb-2"
          >New Password <span class="label-required">*</span></label
        >
        <div
          class="input-password-group"
          [ngClass]="{
            'is-invalid':
              newPassword?.invalid &&
              (newPassword?.dirty || newPassword?.touched),
          }">
          <input
            [type]="isShowNewPassword ? 'text' : 'password'"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                newPassword?.invalid &&
                (newPassword?.dirty || newPassword?.touched),
            }"
            id="new-password"
            placeholder="Enter new password"
            [formControlName]="'newPassword'"
            required />
          <button class="btn-visibility" (click)="toggleNewPassword()">
            {{ isShowNewPassword ? "Hide" : "Show" }}
          </button>
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)
          ">
          <div *ngIf="newPassword?.errors?.['required']">
            New password is required.
          </div>
          <div *ngIf="newPassword?.errors?.['minlength']">
            New password must be at least 8 characters long.
          </div>
        </div>
      </div>
    </div>

    <ul class="list-password-checklist">
      <li>10 to 16 characters.</li>
      <li>Uppercase letters (A-Z) & lowercase letters (a-z)</li>
      <li>Numbers (0-9)</li>
      <li>Special characters (!, #, $, %, ^, &, *, (, ), _, +)</li>
    </ul>

    <div class="section mt-2">
      <div class="form-group">
        <label for="confirm-password" class="label-title text-uppercase mb-2"
          >Confirm Password <span class="label-required">*</span></label
        >
        <div
          class="input-password-group"
          [ngClass]="{
            'is-invalid':
              confirmPassword?.invalid &&
              (confirmPassword?.dirty || confirmPassword?.touched),
          }">
          <input
            [type]="isShowConfirmPassword ? 'text' : 'password'"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                confirmPassword?.invalid &&
                (confirmPassword?.dirty || confirmPassword?.touched),
            }"
            id="confirm-password"
            placeholder="Enter confirm password"
            [formControlName]="'confirmPassword'"
            required />
          <button class="btn-visibility" (click)="toggleConfirmPassword()">
            {{ isShowConfirmPassword ? "Hide" : "Show" }}
          </button>
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            confirmPassword?.invalid &&
            (confirmPassword?.dirty || confirmPassword?.touched)
          ">
          <div *ngIf="confirmPassword?.errors?.['required']">
            Confirm password is required.
          </div>
          <div *ngIf="confirmPassword?.errors?.['minlength']">
            Confirm password must be at least 8 characters long.
          </div>
        </div>
        <div
          class="invalid-feedback"
          [ngClass]="isNotMatch ? 'custom-invalid' : 'd-none'">
          <div>Password does't match.</div>
        </div>
      </div>
    </div>
  </div>
  @if (err) {
    <div class="alert alert-danger mt-4" role="alert">
      <div class="alert-heading">
        <i class="fa-sharp fa-regular fa-circle-exclamation"></i>
        <p class="heading">Fail</p>
      </div>
      <div class="alert-content">
        {{ err | translate }}
      </div>
    </div>
  }
  <div class="button-section">
    <button class="btn-outline-primary" mat-dialog-close [disabled]="isDisable">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="change()" [disabled]="isDisable">
      Change
    </button>
  </div>
</form>
