@import "assets/scss/color";
@import "assets/scss/font";

.app-detail {
  width: 100%;

  .section-property {
    width: 100%;
    max-width: 1240px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (width <= 1240px) {
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 30px;
    }

    .breadcrumb-property {
      display: flex;
      align-items: center;

      @include font-body-4;

      @media only screen and (width <= 660px) {
        @include font-body-7;
      }
    }

    .header-property {
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 20px;

      .title {
        @include h3;

        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media only screen and (width <= 660px) {
          @include h5;
        }
      }
    }

    .address-property {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .title {
        @include font-body-1;

        @media only screen and (width <= 660px) {
          @include font-body-4;
        }
      }
    }
  }

  .preview-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;

    .badge-preview {
      position: absolute;
      top: 24px;
      right: 0;
      z-index: 1;
      align-items: center;
      padding: 12px 28px;
      color: $white-color;
      text-align: center;
      background: $backdrop-color;
      border: none;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;

      @include font-button-2;

      @media only screen and (width <= 660px) {
        @include font-button-3;
      }
    }

    .image-preview {
      width: 100%;
      max-height: 638px;
    }

    .bg-linear {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        transparent 0%,
        #87878780 100%
      );
    }

    .badge-property {
      position: absolute;
      top: 20px;
      left: 20px;

      @include font-subtitle-2;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 28px;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
    }

    .live {
      color: $fresh-green-color;
      background-color: $bright-fresh-green-color;
    }

    .funded {
      color: $dark-yellow-color;
      background-color: $bright-yellow-color;
    }

    .full {
      color: $dark-red-color;
      background-color: $bright-red-color;
    }
  }

  .image-section {
    width: 100%;
    max-width: 1240px;
    margin: 32px auto;

    @media (width <= 1240px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    .image-container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: $white-color;

      .arrow-slide {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: $white-color;
        border: 1px solid $black-color;
        border-radius: 100%;
      }

      .left {
        left: 0;
      }

      .right {
        right: 0;
      }

      .carousel-container {
        width: 90% !important;
        margin: auto !important;

        @media (width <= 1366px) {
          width: 85% !important;
        }

        @media (width <= 820px) {
          width: 80% !important;
        }

        @media (width <= 600px) {
          width: 70% !important;
        }

        @media (width <= 450px) {
          width: 65% !important;
        }
      }

      .slide {
        margin: 0 8px 8px !important;
      }

      .slick-dotted.slick-slider {
        margin: 0;
      }

      .img-slide {
        width: 100%;
        max-height: 150px;
        aspect-ratio: 733 / 500;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }

  .progress-group {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    .title-progress {
      @include font-subtitle-2;

      margin-bottom: 10px;
      color: $black-color;
    }

    .progress {
      width: 100%;
      height: 10px;
      margin-bottom: 4px;
      background-color: $bright-green-color;
      border-radius: 10px;

      .progress-bar {
        height: 10px;
        margin-bottom: 4px;
        background-image: linear-gradient(
          90deg,
          $green-option-1 10%,
          $green-option-2 30%,
          $green-option-3 50%,
          $green-countdown 100%
        );
        background-size: 35rem 100%;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);

        @media only screen and (width <= 920px) {
          background-size: 37rem 100%;
        }

        @media only screen and (width <= 780px) {
          background-size: 41rem 100%;
        }
      }
    }
  }

  .invest-section {
    width: 100%;
    max-width: 1240px;
    margin: 32px auto;

    @media (width <= 1240px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    .invest-group {
      display: flex;
      justify-content: space-around;

      @media only screen and (width <= 1180px) {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }

      .invest-container {
        width: 100%;
        max-width: 550px;
        height: 100%;

        @media only screen and (width <= 1180px) {
          width: 100%;
          max-width: 90%;
        }

        @media only screen and (width <= 660px) {
          width: 100%;
          max-width: unset;
        }

        .item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

        .title {
          margin-right: 10px;
          white-space: nowrap;
        }

        .value {
          flex-grow: 1;
          text-align: right;
          word-break: break-word;
        }

        hr {
          margin-top: 0;
          margin-bottom: 12px;
        }

        .limit-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .limit {
            text-align: center;
          }

          .line {
            height: 66px;
            border-left: 1px solid $gray-color;
          }
        }
      }
    }
  }

  .tab-section {
    width: 100%;
    max-width: 1240px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;

    @media (width <= 1240px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @media (width <= 660px) {
      margin-top: 24px;
    }

    .tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $bright-green-color;
    }

    .btn {
      @include h7;

      color: $black-color;
    }

    .btn.active {
      color: $dark-green-color;
      border-bottom: 2px solid $dark-green-color;
    }

    .tab-content {
      padding: 24px;
      margin-top: 28px;
      background: $white-color;
      box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    }

    @media (width <= 660px) {
      .tabs {
        flex-wrap: wrap;
      }

      .btn {
        @include font-subtitle-2;

        flex: 1 1 100%;
      }
    }
  }

  .button-copy {
    margin-left: 8px;
    background: transparent;
    border: none;
  }
}
