@import "assets/scss/color";
@import "assets/scss/font";

.dialog {
  display: flex;
  flex-direction: column;
  width: 788px;
  padding: 24px;

  .close-icon {
    display: flex;
    justify-content: flex-end;

    img {
      width: 14px;
      height: 14px;
      cursor: pointer;
    }
  }

  .app-form-otp {
    margin: auto;
    text-align: center;
  }

  .custom-invalid {
    display: block !important;
    margin-top: 8px;
    color: $red-color;

    @include font-body-7;
  }
}

@media screen and (width <= 980px) {
  .dialog {
    width: 500px;

    .button-section {
      button {
        max-width: 210px;
      }
    }
  }
}

@media screen and (width <= 680px) {
  .dialog {
    width: 350px;

    .button-section {
      button {
        max-width: 140px;
      }
    }
  }
}

@media screen and (width <= 440px) {
  .dialog {
    width: 300px;

    .button-section {
      button {
        max-width: 115px;
      }
    }
  }
}
