<div class="modal-confirm">
  <div class="title-container">
    <button class="button-close" (click)="closeModal()">
      <i class="fa-light fa-xmark"></i>
    </button>
  </div>
  <app-step-confirm class="mt-2" [stepSelect]="selectStep"></app-step-confirm>

  @if (selectStep === StepConfirmEnums.confirm) {
    <div class="confirm-container w-100 mt-3">
      <p class="h7 mt-1">Confirmation</p>
      <p>Please check your investment to confirm.</p>
      <div class="item mt-3 mb-3">
        <p class="title font-subtitle-2 color-black">Total Amount</p>
        <p class="value font-body-4 color-black">
          {{ investmentOrderRequest.amount }} USDT
        </p>
      </div>

      <mat-dialog-actions align="end" class="w-100">
        <button
          class="btn btn-primary w-100 mt-3 text-uppercase mb-2"
          type="submit"
          (click)="sendOtp()"
          [disabled]="isLoadingConfirm">
          <span
            *ngIf="isLoadingConfirm"
            class="spinner-border spinner-border-sm mb-0 mx-2">
          </span>
          <span *ngIf="!isLoadingConfirm">Confirm</span>
        </button>
        <button
          class="btn btn-outline-primary w-100 text-uppercase"
          (click)="closeModal()">
          Cancel
        </button>
      </mat-dialog-actions>
    </div>
  } @else if (selectStep === StepConfirmEnums.verify) {
    <mat-dialog-content>
      <app-form-otp-verify
        [isModal]="true"
        [otpRef]="otpRef"
        [email]="email"
        [codeRefWithTime]="refWithTime"
        [isShowAlertError]="isShowAlertErrorOtp"
        [alertError]="alertErrorOtp"
        [isLoading]="isLoadingOtp"
        (submitOTPModal)="submitOTPModal($event)"
        (resendOTP)="handleResendOtp.emit()"
        (btnBack)="handleBack()">
      </app-form-otp-verify>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="w-100">
      <button
        (click)="verifyOtp()"
        type="submit"
        [disabled]="isLoadingOtp"
        class="btn btn-primary btn-submit w-100 mb-3 text-uppercase">
        <span
          *ngIf="isLoadingOtp"
          class="spinner-border spinner-border-sm mb-0 mx-2">
        </span>
        <span *ngIf="!isLoadingOtp"> Verify </span>
        <span *ngIf="isLoadingOtp"> Loading... </span>
      </button>

      <button
        (click)="handleBack()"
        class="btn btn-link-primary w-100 text-uppercase color-black">
        Go Back
      </button>
    </mat-dialog-actions>
  }
</div>
