@import "./color";
@import "./font";

// ----------------------------------------------
// Body
// ----------------------------------------------

body {
  margin: 0;
  padding: 0;
}

// ----------------------------------------------
// P
// ----------------------------------------------

p {
  @include font-body-2;
  margin: 0;
  word-break: normal;
}

// ----------------------------------------------
// A
// ----------------------------------------------

a {
  @include font-body-2;
  margin: 0;
  word-break: normal;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $bright-green !important;
}

// ----------------------------------------------
// Img
// ----------------------------------------------

img {
  max-width: 100%;
  height: auto;
}

// ----------------------------------------------
// li
// ----------------------------------------------

li {
  list-style-type: none;
  padding-left: 0;
}

// ----------------------------------------------
// Ul
// ----------------------------------------------

ul {
  list-style-type: none;
  padding-left: 0;
}

// ----------------------------------------------
// Tipy
// ----------------------------------------------

.tippy-content {
  padding: 0 !important;
}

// ----------------------------------------------
// Text.....
// ----------------------------------------------

.text-dot {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// ----------------------------------------------
//  warp.....
// ----------------------------------------------

.warp {
  word-break: break-all !important;
}
