// -----------------------------------------------------------------------------------------------------
// Font Cormorant
// -----------------------------------------------------------------------------------------------------

// ----------------------------------------------
// SemiBold 600
// ----------------------------------------------

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant/static/Cormorant-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

// ----------------------------------------------
// Medium 500
// ----------------------------------------------

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant/static/Cormorant-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

// ----------------------------------------------
// Regular 400
// ----------------------------------------------

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant/static/Cormorant-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

// ----------------------------------------------
// Light 300
// ----------------------------------------------

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant/static/Cormorant-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

// -----------------------------------------------------------------------------------------------------
// Font Manrope
// -----------------------------------------------------------------------------------------------------

// ----------------------------------------------
// SemiBold 600
// ----------------------------------------------

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// ----------------------------------------------
// Medium 500
// ----------------------------------------------

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope/static/Manrope-Regular.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

// ----------------------------------------------
// Regular 400
// ----------------------------------------------

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope/static/Manrope-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// ----------------------------------------------
// Light 300
// ----------------------------------------------

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope/static/Manrope-ExtraLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

// -----------------------------------------------------------------------------------------------------
// Font Noto Sans Thai
// -----------------------------------------------------------------------------------------------------

// ----------------------------------------------
// SemiBold 600
// ----------------------------------------------

@font-face {
  font-family: "Noto Sans Thai";
  src: url("/assets/fonts/NotoSansThai/static/NotoSansThai-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

// ----------------------------------------------
// Medium 500
// ----------------------------------------------

@font-face {
  font-family: "Noto Sans Thai";
  src: url("/assets/fonts/NotoSansThai/static/NotoSansThai-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

// ----------------------------------------------
// Regular 400
// ----------------------------------------------

@font-face {
  font-family: "Noto Sans Thai";
  src: url("/assets/fonts/NotoSansThai/static/NotoSansThai-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

// ----------------------------------------------
// Light 300
// ----------------------------------------------

@font-face {
  font-family: "Noto Sans Thai";
  src: url("/assets/fonts/NotoSansThai/static/NotoSansThai-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
