<div class="app-know-us">
  <div class="section-left">
    <img
      src="assets/img/home/know-use-more.png"
      alt="know-us"
      class="img-know-us" />
  </div>
  <div class="section-right">
    <p class="font-button-1 know-us-title text-uppercase">Know us more</p>
    <h1 class="know-us-heading text-uppercase">
      Invest smart, Live stres free
    </h1>
    <p class="font-body-2 know-us-description">
      You can enjoy the financial benefits of property investment without the
      burden of day to day management. Our dedicated team of experts handles
      everything from tenant relations and maintenance to financial reporting
      and compliance ensuring your investment remains profitable and hassle
      free. By entrusting us with the management of your properties, you can
      focus on other important aspects of your life while still growing your
      wealth. Invest with us for a seamless, worry free experience that lets you
      reap the rewards without the stress.
    </p>
    <div class="know-us-link">
      <a
        href=" {{ 'about-us' | localize }}"
        class="btn btn-primary text-uppercase"
        >About us</a
      >
    </div>
  </div>
</div>
