<div class="image-container">
  <img src="/assets/img/home/bg-mobile.png" class="image" alt="" />
  <div class="backdrop"></div>
  <div class="image-content">
    <p class="title text-uppercase">Best choice for crypto investment test</p>
    <h1 class="subtitle text-uppercase">
      Invest with us, without expense of managing property
    </h1>
    <div class="link">
      <a
        href="{{ 'how-to-use' | localize }}"
        class="btn btn-primary text-uppercase"
        >How to use</a
      >
    </div>
  </div>
</div>

<div class="video-container">
  <video muted loop autoplay preload="auto" id="background-video">
    <source src="/assets/video/home/home.mp4" type="video/mp4" />
  </video>
  <div class="backdrop"></div>
  <div class="video-content">
    <p class="title text-uppercase">Best choice for crypto investment test</p>
    <h1 class="subtitle text-uppercase">
      Invest with us, without expense of managing property
    </h1>
    <div class="link">
      <a
        href="{{ 'how-to-use' | localize }}"
        class="btn btn-primary text-uppercase"
        >How to use</a
      >
    </div>
  </div>
</div>
