<div class="section-search">
  <form class="form-transaction" [formGroup]="transactionForm">
    <div class="form-group-date">
      <div class="form-group">
        <label class="label-title color-black" for="transactionHash"
          >Date
        </label>
        <div class="form-group-date-picker">
          <input
            class="input-date-picker"
            id="transactionHash"
            matInput
            [formControlName]="'startDate'"
            (dateChange)="onFilterChange()"
            placeholder="Start Date"
            [matDatepicker]="startDate" />
          <mat-datepicker-toggle
            class="date-picker"
            matSuffix
            [for]="startDate"
            (click)="startDate.open()">
            <div matDatepickerToggleIcon>
              <i class="fa-thin fa-calendar calendar-icon"></i>
            </div>
          </mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </div>
      </div>
      <p class="text-to color-black">to</p>
      <div class="form-group">
        <label class="label-title color-black"></label>
        <div class="form-group-date-picker">
          <input
            class="input-date-picker"
            matInput
            [formControlName]="'endDate'"
            (dateChange)="onFilterChange()"
            placeholder="End Date"
            [matDatepicker]="endDate" />
          <mat-datepicker-toggle
            class="date-picker"
            matSuffix
            (click)="endDate.open()">
            <div matDatepickerToggleIcon>
              <i class="fa-thin fa-calendar calendar-icon"></i>
            </div>
          </mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </div>
      </div>
    </div>
  </form>
</div>
