<div class="main">
  <div class="title-work-step">
    <h2>
      Here are the steps on how to use <span>ADAVU</span>
      to invest in real estate
    </h2>
  </div>
  <p class="sub-title-work-step">
    Your Gateway to Real Estate Investment Success - Follow These Easy Steps
  </p>

  <div class="section-work">
    <div class="left">
      <img src="assets/img/how-to-use/work.png" alt="work" />
    </div>
    <div class="right">
      <div class="row">
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/person_add.png"
                class="icon-1"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Create account</p>
            <p class="font-body-5">
              Fill out your
              <span>ADAVU</span>
              account profile. It's an easy and quick process.
            </p>
          </div>
        </div>
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/add_card.png"
                class="icon-2"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Deposit/Add fund</p>
            <p class="font-body-5">
              Put money into your account, either in cash or cryptocurrency. You
              can choose.
            </p>
          </div>
        </div>
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/home_work.png"
                class="icon-3"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Choose property</p>
            <p class="font-body-5">
              You have unique access to all currently qualifying investments.
            </p>
          </div>
        </div>
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/crowdsource.png"
                class="icon-4"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Invest property</p>
            <p class="font-body-5">
              You can decide which type of real estate to invest in when you're
              ready to purchase.
            </p>
          </div>
        </div>
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/chart_data.png"
                class="icon-5"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Obtain dividends</p>
            <p class="font-body-5">
              The profit you earn depends on the amount you invest. Every two
              hours the system.
            </p>
          </div>
        </div>
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/how_to_vote.png"
                class="icon-6"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Voting</p>
            <p class="font-body-5">
              Cast your vote on ideas to make investments and the ADAVU better.
            </p>
          </div>
        </div>
        <div class="col-6 group-row">
          <div class="group-icon">
            <div class="icon">
              <img
                src="assets/img/how-to-use/screen_search_desktop.png"
                class="icon-7"
                alt="how-to-use" />
            </div>
          </div>
          <div class="description">
            <p class="h8">Monitor invest</p>
            <p class="font-body-5">
              You have complete visibility into how well your investment is
              performing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
