<div class="sidebar-wrapper">
  <div class="sidebar-layout">
    <div class="main">
      <div class="content">
        <div class="card-content">
          <div class="center-div">
            <img
              src="assets/img/icon/delete-account-success.svg"
              alt="delete-account-success" />

            <h1>Account Deletion</h1>
            <p>
              In 7 days, your account will be deactivated. Log in to ADAVU if
              you want to revive your account before this happens.
            </p>
            <a href="{{ 'sign-in' | localize }}" class="btn btn-primary"
              >Done</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
