<div class="our-roadmap">
  <div class="our-container">
    <p class="font-button-1">GROW YOUR CAPITAL WITH ADAVU</p>
    <p class="title">OUR ROADMAP</p>
    <div class="app-preview-container">
      <div class="app-preview">
        <div class="our-roadmap-tab">
          <img
            src="/assets/img/home/registration.svg"
            alt="registration"
            class="img" />
          <hr class="step" />
          <img
            src="/assets/img/home/financial.svg"
            alt="registration"
            class="img" />
          <hr class="step" />
          <img
            src="/assets/img/home/blockchain.svg"
            alt="registration"
            class="img" />
        </div>
        <div class="our-roadmap-step">
          <div class="our-roadmap-item">
            <div class="our-roadmap-content">
              <p class="font-button-1">Real Estate Company Registration</p>
              <p class="font-body-2 m-14">
                Real estate company egistration and making investment platform
              </p>
            </div>
          </div>
          <div class="our-roadmap-item">
            <div class="our-roadmap-content">
              <p class="font-button-1">Financial Company Registration</p>
              <p class="font-body-2 m-14">
                Financial company registration and take benefit form platform
              </p>
            </div>
          </div>
          <div class="our-roadmap-item">
            <div class="our-roadmap-content">
              <p class="font-button-1">Blockchain CompanyRegistration</p>
              <p class="font-body-2 m-14">
                Launch platform blockchain company registration
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
