@import "assets/scss/color";
@import "assets/scss/font";

// -----------------------------------------------------------------------------------------------------
// Alert
// -----------------------------------------------------------------------------------------------------

.alert {
  padding: 12px;

  .alert-content {
    @include font-body-7;
    align-items: start;
  }

  .alert-heading {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    @include font-body-4;

    .heading {
      margin-left: 8px;
    }
  }
}

.alert-danger {
  background-color: $bright-red-color;
  color: $red-color;
  border: none;
}
