// -----------------------------------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------------------------------

@import "assets/scss/color";
@import "assets/scss/font";

.btn {
  @include font-button-2;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 0;
}

// ----------------------------------------------
// Disabled
// ----------------------------------------------

.btn:disabled {
  color: $white-color !important;
  border: none !important;
  box-shadow: none !important;
  pointer-events: none !important;
  background-color: $bright-gray-color !important;
}

// ----------------------------------------------
// Primary
// ----------------------------------------------

.btn-primary {
  background-color: $green-color;
  border: 1px solid $green-color;
  color: white;

  &:hover,
  &:focus {
    background-color: lighten($green-color, 10%);
    border: 1px solid lighten($green-color, 10%);
    color: white;
    box-shadow: none;
  }

  &:focus:active {
    background-color: $dark-green-color;
    border: 1px solid $dark-green-color;
    color: white;
  }
}

// ----------------------------------------------
// Primary Outline
// ----------------------------------------------

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid $green-color;
  color: $green-color;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 1px solid lighten($green-color, 10%);
    color: lighten($green-color, 10%);
  }

  &:focus:active {
    background-color: transparent;
    border: 1px solid $dark-green-color;
    color: $dark-green-color;
  }
}

// ----------------------------------------------
// Delete Outline
// ----------------------------------------------

.btn-outline-delete {
  background-color: transparent;
  border: 1px solid $red-color;
  color: $red-color;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 1px solid lighten($red-color, 10%);
    color: lighten($red-color, 10%);
  }

  &:focus:active {
    background-color: transparent;
    border: 1px solid $red-color;
    color: $red-color;
  }
}

// ----------------------------------------------
// Link
// ----------------------------------------------

.btn-link-primary {
  background-color: transparent;
  border: unset;
  color: $green-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
    border: unset;
    color: lighten($green-color, 10%);
  }

  &:focus:active {
    background-color: transparent;
    border: unset;
    color: $dark-green-color;
  }
}
