// -----------------------------------------------------------------------------------------------------
// Navbar
// -----------------------------------------------------------------------------------------------------

.navbar .nav-item .dropdown-menu {
  display: none;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar .nav-item .dropdown-menu {
  margin-top: 0;
  border-color: $bright-green-color;

  .dropdown-item:hover {
    background-color: $bright-green-color;
  }
}
