<div class="content-container">
  <div class="content-layout">
    <div class="title">
      <h1>
        How
        <img src="./../../../../../assets/img/logo.svg" alt="logo" />
        works!
      </h1>
    </div>
    <div class="description">
      <p>
        Our mission is to provide the best possible solution to the question,
        “What should I do with my money?”
      </p>
    </div>
    <!--    <div class="video">-->
    <!--      <app-video-work-step></app-video-work-step>-->
    <!--    </div>-->
    <div class="ensure">
      <app-ensure></app-ensure>
    </div>
    <div class="work-step">
      <app-work-step></app-work-step>
    </div>
  </div>
</div>

<div class="footer-how-to-use">
  <div class="title-2">
    <h2>
      Investing with <span>ADAVU</span>
      is easy
    </h2>
  </div>
  <div class="description-2">
    <p>
      Investing with us is easy, transparent, and seamless, irrespective of your
      location.
    </p>
  </div>
  <div class="get-start">
    <a class="btn btn-white mx-2" href="{{ 'properties' | localize }}"
      >Get Started</a
    >
  </div>
</div>
