<div class="app-success">
  <div class="auth-wrapper">
    <div class="auth-container success-container">
      <img
        class="mt-5 mb-4"
        alt="OTP Verification"
        ngSrc="assets/img/otp/otp-verification.png"
        width="200"
        height="186" />

      <h2 class="h5 title mt-2">Account Successfully verified</h2>
      <p class="font-body-2 mt-2">You have successfully created an account.</p>
      <a class="btn btn-primary btn-done mt-4 mb-5" href="{{ '' | localize }}"
        >DONE</a
      >
    </div>
  </div>
</div>
