<div class="main">
  <div class="bg-ensure">
    <div class="bg-glass">
      <div class="title-ensure">
        <h2>There's more to investing than you might think</h2>
        <p class="description">
          Investing means aligning money with something meaningful to you.
          Whatever your dreams are, you can use our technology and expertise to
          help make them a reality.
        </p>
      </div>
      <div class="group">
        <div class="item">
          <div class="icon">
            <img
              src="./../../../../../assets/img/how-to-use/ensure-profit.svg"
              alt="ensure-profit" />
          </div>
          <span>Passive Income</span>
          <p>
            Allowing capital to generate income and offering independence for
            life.
          </p>
        </div>
        <div class="item">
          <div class="icon">
            <img
              src="./../../../../../assets/img/how-to-use/ensure-quality.svg"
              alt="ensure-quality" />
          </div>
          <span>Quality</span>
          <p>
            Quality of life has a purpose in life. And have the resources
            necessary for a fulfilling life.
          </p>
        </div>
        <div class="item">
          <div class="icon">
            <img
              src="./../../../../../assets/img/how-to-use/ensure-stability.svg"
              alt="ensure-stability" />
          </div>
          <span>Stability</span>
          <p>
            Having enough money to cover your basic needs, such as food,
            housing.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
