<div class="app-footer">
  <div class="footer-container">
    <div class="menu-section">
      <div class="menu-logo-container">
        <div class="logo">
          <img
            alt="Logo"
            class="img-logo"
            ngSrc="assets/img/logo.svg"
            width="363"
            height="81" />
        </div>
        <div class="menu-address">
          <span class="font-body-3">
            Blockchain Technology Center (BTC), 5/15 Chao Fah Tawan Tok
            Rd,Chalong, Mueang Phuket District,Phuket , 83000
          </span>
          <p class="font-body-3">+66(0) 76 682245</p>
        </div>
      </div>
      <div class="menu-topic-container">
        <div class="sub-menu">
          <div class="link-group">
            <div class="font-body-6 text-header">SUPPORT</div>
            <a class="font-body-3" href="{{ 'about-us' | localize }}">
              About Us
            </a>
            <a class="font-body-3" href="{{ 'contact-us' | localize }}">
              Contact Us
            </a>
            <a class="font-body-3" href="{{ 'faqs' | localize }}"> FAQs </a>
          </div>
          <div class="link-group">
            <div class="font-body-6 text-header">DOCUMENT</div>
            <!-- <a class="font-body-3" href="#"> GitBook </a>
            <a class="font-body-3" href="#"> GitHub </a>
            <a class="font-body-3" href="#"> Factsheet </a> -->
            <a class="font-body-3" href="{{ '/white-paper' | localize }}">
              Whitepaper
            </a>
          </div>
          <div class="link-group">
            <div class="font-body-6 text-header">SERVICE</div>
            <a class="font-body-3" href="{{ '/properties' | localize }}">
              Properties list
            </a>
            <a class="font-body-3" href="{{ '/my-portfolio' | localize }}">
              Portfolio
            </a>
          </div>
        </div>
        <!-- <div class="social">
          <span class="font-body-6 text-header">SOCIAL MEDIA</span>
          <div class="icon-social">
            <a class="social-icon">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="social-icon">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="copyright-section">
      <hr class="hr" />
      <div class="copyright-container">
        <div class="copyright">
          <div>
            <span class="font-body-3">©ADAVU - All rights reserved</span>
          </div>
          <div class="contact">
            <span>
              <a class="font-body-3" href="{{ 'terms-of-use' | localize }}">
                Terms of Use
              </a>
            </span>
            <span>
              <a class="font-body-3" href="{{ 'privacy-policy' | localize }}">
                Privacy Policy
              </a>
            </span>
            <span>
              <a class="font-body-3" href="{{ 'cookie-policy' | localize }}">
                Cookie Policy
              </a></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
