@import "assets/scss/color";
@import "assets/scss/font";

.search-result-faq {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 40px;

  .header-search-result {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: start;

    h2 {
      color: $dark-green-color;

      @media only screen and (width <= 659px) {
        @include h7;
      }
    }

    .h8 {
      @media only screen and (width <= 659px) {
        @include font-subtitle-2;
      }
    }
  }

  .input-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;

    button {
      position: absolute;
      top: 25%;
      right: 2%;
      padding: 0;
      font: inherit;
      color: inherit;
      cursor: pointer;
      background: none;
      border: unset;
      outline: inherit;

      @include font-body-5;
    }
  }

  .horizon-line {
    max-width: 660px;
    margin: 0;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-bottom: 32px;
    }

    .title-2 {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-bottom: 8px;
    }

    .result-item {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin-bottom: 40px;

      @media screen and (width <= 700px) {
        grid-template-columns: repeat(1, 1fr);
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .content-item {
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        padding: 20px;
        cursor: pointer;
        border: 1px solid #cdcdcd;
        border-radius: 5px;

        .head-item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (width <= 580px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 8px;
            align-items: start;
            justify-content: start;
          }
        }

        .content-title {
          display: flex;
          align-items: center;

          @media screen and (width <= 580px) {
            margin-bottom: 8px;
          }

          .title-ellipsis {
            width: 500px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media screen and (width <= 1300px) {
              width: 230px;
            }

            @media screen and (width <= 700px) {
              width: 250px;
            }
          }
        }

        .content-cate {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .description-ellipsis {
          display: -webkit-box;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .app-not-found {
        grid-row: 1;
        grid-column: 1 / span 2;
      }
    }
  }
}
