<div class="app-error">
  <div class="error-container">
    <div class="card-section">
      <h1 class="title">404</h1>
      <h2>Oops, page not found</h2>
      <span class="description font-body-1">
        We looked everywhere, but we were unable to locate what you were looking
        for. Let's look for a better location for you to go.
      </span>
    </div>
    <div class="d-flex">
      <a
        href="{{ '' | localize }}"
        class="btn btn-primary font-button-1 text-uppercase">
        Back to home
        <i class="fa-sharp fa-regular fa-arrow-right ms-2"></i>
      </a>
    </div>
  </div>
  <div class="image-container">
    <img
      ngSrc="assets/img/photo_404.png"
      alt="Error404"
      class="img-404"
      height="530"
      width="1148" />
  </div>
</div>
