<div class="app-forgot-password">
  <div class="auth-wrapper">
    <div class="auth-container">
      <div class="forgot-password-container">
        <img
          class="mt-3 mb-4"
          alt="OTP Verification"
          ngSrc="assets/img/auth/forgot-password.png"
          width="200"
          height="154"
          priority />
        <h2 class="h5 title mt-2">Forgot password ?</h2>
        <p class="font-body-2 mt-2 lh-md mb-4 text-center">
          Don’t worry! it occurs. Please enter your Email linked with your
          account.
        </p>
        <!--        // ---------------------------------------->
        <!--        // Email -->
        <!--        // ---------------------------------------->
        <form class="form-container w-100" [formGroup]="forgotPasswordForm">
          <div class="form-group mb-4">
            <label class="label-title text-uppercase mb-2" for="email"
              >Email <span class="label-required">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter Email"
              [ngClass]="{
                'is-invalid':
                  fEmail?.invalid &&
                  (fEmail?.dirty || fEmail?.touched) &&
                  isFirstSubmit,
              }"
              [formControlName]="'email'"
              required />
            <div
              class="invalid-feedback"
              *ngIf="
                fEmail?.invalid &&
                (fEmail?.dirty || fEmail?.touched) &&
                isFirstSubmit
              ">
              <div *ngIf="fEmail?.errors?.['required']">
                Please enter your email.
              </div>
              <div *ngIf="fEmail?.errors?.['email']">Email is invalid.</div>
            </div>
          </div>

          <button
            type="submit"
            (click)="requestForgotPassword()"
            [disabled]="forgotPasswordForm.disabled"
            class="btn btn-primary w-100 text-uppercase mb-4">
            <span
              *ngIf="forgotPasswordForm.disabled"
              class="spinner-border spinner-border-sm mb-0 mx-2">
            </span>
            <span *ngIf="!forgotPasswordForm.disabled">Send Link</span>
            <span *ngIf="forgotPasswordForm.disabled"> Loading... </span>
          </button>

          <div class="w-100 d-flex">
            <a
              href="{{ '' | localize }}"
              class="font-button-2 color-black text-uppercase text-center w-100"
              >Go Home</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
