@import "assets/scss/color";
@import "assets/scss/font";

.app-forgot-password {
  .forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 514px;
    margin: auto;

    .title {
      @media only screen and (width <= 541px) {
        @include h7;
      }
    }

    .btn-done {
      width: 150px;
    }
  }
}
