@import "assets/scss/color";
@import "assets/scss/font";

.app-identity-verification {
  display: block;
  width: 100%;
  max-width: 500px;

  .select-transaction {
    width: 100%;
    padding: 8px 5px !important;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    transition: border-color 0.3s;

    ::ng-deep.mat-select-value-text {
      padding-left: 5px;
      color: $dark-gray-color;

      @include font-body-5;
    }
  }

  .icon-nat {
    margin-right: 10px;
  }

  .title {
    @include h7;
  }

  .ml-24 {
    margin-top: 15px;
    margin-bottom: 24px;
  }

  .type-group {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .box-type {
      display: flex;
      justify-content: space-between;
      padding: 12px 16px;
      cursor: pointer;
      border: 1px solid $silver-color;

      .item {
        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;
      }

      .icon-color {
        color: $dark-green-color;
      }
    }

    .box-active {
      background: $bright-green-color;
      border: 1px solid $dark-green-color;
    }
  }
}
