<div class="app-about-us">
  <div class="content-body">
    <div class="card-about">
      <div class="card-item">
        <div class="item-top">
          <h1 class="text-top">About Us</h1>
          <span class="h7">Opening up opportunities for everyone</span>
        </div>
        <span class="font-body-2">
          Welcome to ADAVU, the leading investment marketplace that utilizes
          cryptocurrencies for purchasing equity shares in real estate. As an
          investor, you have the ability to participate in the decision-making
          process through voting. Believes in the power of cryptocurrency
          investments and their potential to generate profits in the real estate
          market. By offering individuals the opportunity to invest in
          fractional ownership of properties, we empower investors to unlock the
          benefits of the market. Every two hours, investors receive profits
          based on their investment, providing regular returns and a dynamic
          investment experience.
        </span>
      </div>
      <div class="card-image">
        <img
          src="assets/img/about/about-2.jpeg"
          class="card-item-img"
          alt="img-about-us" />
      </div>
    </div>
    <div class="card-about-pillars">
      <div class="cart-title">
        <h4 class="text-top">Pillars of ADAVU</h4>
        <span class="h7">Driving the Future of Real Estate Investment</span>
      </div>
      <div class="card-item">
        <div class="item">
          <mat-icon class="icon-item">balance</mat-icon>
          <span class="h7">Democratize investment</span>
          <span class="font-body-4"
            >Providing everyone with equal access to real estate investment,
            regardless of capital, credit, or experience</span
          >
        </div>
        <div class="item">
          <mat-icon class="icon-item">policy</mat-icon>
          <span class="h7">Create transparency</span>
          <span class="font-body-4"
            >Offering clear, comprehensive, and truthful project information so
            investors can make informed investment decisions</span
          >
        </div>
        <div class="item">
          <mat-icon class="icon-item">diversity_2</mat-icon>
          <span class="h7">Diversify risk</span>
          <span class="font-body-4"
            >Presenting a diverse range of real estate projects to allow
            investors to spread their risk and generate sustainable
            returns</span
          >
        </div>
      </div>
      <div class="card-item">
        <div class="item">
          <mat-icon class="icon-item">real_estate_agent</mat-icon>
          <span class="h7">Promote the economy</span>
          <span class="font-body-4"
            >comprehensive, and truthful project information so that investors
            can make informed investment decisions.</span
          >
        </div>
        <div class="item">
          <mat-icon class="icon-item">admin_panel_settings</mat-icon>
          <span class="h7">Cutting-Edge Technology</span>
          <span class="font-body-4"
            >Developing advanced, secure, and user-friendly technology systems
            to deliver a convenient</span
          >
        </div>
        <div class="item">
          <mat-icon class="icon-item">support_agent</mat-icon>
          <span class="h7">Superior Customer Service</span>
          <span class="font-body-4"
            >Striving to provide excellent, responsive, and supportive customer
            service to maximize investor satisfaction</span
          >
        </div>
      </div>
    </div>
    <div class="card-about-detail">
      <div class="about-left">
        <img
          src="assets/img/about/about-1.jpeg"
          class="card-img"
          alt="image-about-us" />
      </div>
      <div class="about-right">
        <h5>Why ought one to invest with ADAVU ?</h5>
        <div>
          <p class="font-body-1">
            Invest in Real Estate Without Breaking the Bank
          </p>
          <span class="font-body-2"
            >Invest from as little as a few hundred dollars through
            crowdfunding. Diversify your portfolio with a variety of projects.
            Spread out your risk, invest small, reap high rewards</span
          >
        </div>
        <p class="font-body-1">Invest with Experts</p>
        <span class="font-body-2"
          >Team of experienced real estate professionals. Partner with leading
          real estate development companies. Carefully vetted and selected
          projects</span
        >
        <p class="font-body-1">Transparent and Verifiable</p>
        <span class="font-body-2"
          >Clear and comprehensive project information. Regular performance
          reports. Check investment status anytime, anywhere</span
        >
        <p class="font-body-1">Exclusive Benefits for Investors</p>
        <span class="font-body-2"
          >Participate in exclusive events. Receive special discounts from
          partner merchants. Get priority access to new projects</span
        >
      </div>
    </div>
    <!--    <div class="card-team">-->
    <!--      <div class="top">-->
    <!--        <h4>Meet our team</h4>-->
    <!--        <span class="h7"-->
    <!--          >Our team has expertise and experience in a variety of fields</span-->
    <!--        >-->
    <!--      </div>-->
    <!--      <div class="item-team">-->
    <!--        <div class="item">-->
    <!--          <img-->
    <!--            src="assets/img/about/demo/demo1.png"-->
    <!--            class="img-team"-->
    <!--            alt="image-team" />-->
    <!--          <div class="item-detail">-->
    <!--            <div class="detail">-->
    <!--              <p class="h8">Neel Deshmukh</p>-->
    <!--              <p class="font-body-4">Founder & Chief Executive Officer</p>-->
    <!--              <span class="font-body-7 sub-title">-->
    <!--                “Expertise in finance, investment, and real estate. Passionate-->
    <!--                about creating”-->
    <!--              </span>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="item">-->
    <!--          <img-->
    <!--            src="assets/img/about/demo/demo2.png"-->
    <!--            class="img-team"-->
    <!--            alt="image-team" />-->
    <!--          <div class="item-detail">-->
    <!--            <div class="detail">-->
    <!--              <p class="h8">Olga Zabegina</p>-->
    <!--              <p class="font-body-4">Cheif Sales Officer</p>-->
    <!--              <span class="font-body-7 sub-title">-->
    <!--                “own more than five years of expertise in the field of real-->
    <!--                estate investing”-->
    <!--              </span>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="item">-->
    <!--          <img-->
    <!--            src="assets/img/about/demo/demo3.png"-->
    <!--            class="img-team"-->
    <!--            alt="image-team" />-->
    <!--          <div class="item-detail">-->
    <!--            <div class="detail">-->
    <!--              <p class="h8">Talor Grote</p>-->
    <!--              <p class="font-body-4">Chief Operating Officer</p>-->
    <!--              <span class="font-body-7 sub-title">-->
    <!--                “own more than five years of expertise in the field of real-->
    <!--                estate investing”-->
    <!--              </span>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="item">-->
    <!--          <img-->
    <!--            src="assets/img/about/demo/demo4.png"-->
    <!--            class="img-team"-->
    <!--            alt="image-team" />-->
    <!--          <div class="item-detail">-->
    <!--            <div class="detail">-->
    <!--              <p class="h8">Jake Nackos</p>-->
    <!--              <p class="font-body-4">Chief Operating Officer</p>-->
    <!--              <span class="font-body-7 sub-title">-->
    <!--                “own more than five years of expertise in the field of real-->
    <!--                estate investing”-->
    <!--              </span>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="card-footer">
      <div class="bg-blur"></div>
      <div class="header-text">
        <span class="title"
          >"Join us and be involved in the experience with us."</span
        >
        <a href="{{ '/properties' | localize }}">
          <button class="btn-primary btn font-button-2">INVEST NOW</button>
        </a>
      </div>
    </div>
  </div>
</div>
