<div class="app-form-otp">
  <form class="otp-container" [formGroup]="otpForm">
    @if (!isModal) {
      <img
        alt="OTP Verification"
        ngSrc="assets/img/otp/email-verification.png"
        width="200"
        height="193" />

      <h2 class="h5 mt-4">Email Verification</h2>

      <p class="font-body-3 lh-lg">We have sent an email to {{ email }}</p>

      <p class="font-body-3 lh-lg mb-5">
        Please check your email and enter the 6-digit verification code:
        {{ otpRef }} to confirm account activation.
      </p>
    } @else {
      <p class="font-body-3 lh-lg">We have sent an email to {{ email }}</p>
      <p class="font-body-3 lh-lg mb-5">
        Please check your email and enter 6-digit verification code:{{ otpRef }}
        to confirm.
      </p>
    }

    <ng-otp-input
      class="form-input mt-5"
      inputmode="number"
      (onInputChange)="onOtpChange($event)"
      [config]="{ length: 6, allowNumbersOnly: true }">
    </ng-otp-input>

    <p class="code-expires mt-1">
      Code expires in :
      <span class="font-body-5 color-red">
        {{ timeRemaining$ | async | date: "mm:ss" }}
      </span>
    </p>
  </form>

  <div *ngIf="isShowAlertError" class="alert alert-danger mt-4" role="alert">
    <div class="alert-heading">
      <i class="fa-sharp fa-regular fa-circle-exclamation"></i>
      <p class="heading">Fail</p>
    </div>
    <div class="alert-content" style="text-align: start">
      {{ this.alertError | translate }}
    </div>
  </div>

  <p class="group-text mt-4 mb-3">
    Didn’t receive the OTP ?
    <button class="resend-otp btn-link-primary" (click)="resendOtp()">
      Resend OTP
    </button>
  </p>
  @if (!isModal) {
    <button
      type="submit"
      (click)="verifyOtp()"
      [disabled]="isLoading"
      class="btn btn-primary btn-submit w-100 mb-3 text-uppercase">
      <span
        *ngIf="isLoading"
        class="spinner-border spinner-border-sm mb-0 mx-2">
      </span>
      <span *ngIf="!isLoading"> Verify </span>
      <span *ngIf="isLoading"> Loading... </span>
    </button>

    <button
      (click)="goBack()"
      class="btn btn-link-primary w-100 text-uppercase color-black">
      Go Back
    </button>
  }
</div>
